<h2> Pour commander un jeu veuillez vous inscrire </h2>
<div class="panel-body">
   
    <div class="col-sm-12">
        <label for="prenom">Pr&eacute;nom :</label>
        <br><input  [(ngModel)]="client.prenom"  id="prenom"><br>

        <label for="nom">Nom :</label>
        <br><input  [(ngModel)]="client.nom"  type="text" id="nom"><br>

        <label for="mail">Mail :</label>
        <br><input  [(ngModel)]="client.mail"  id="mail"><br>

        <!-- <label for="adresse">adresse:</label>
        <input [(ngModel)]="client.adresse" id="adresse"><br>
        <label for="login">login:</label>
        <input [(ngModel)]="client.login" id="login"><br>
        <label for="motDePasse">Mot de passe:</label>
        <input type="password" [(ngModel)]="client.motDePasse" id="motDePasse"><br> -->

        <label for="telephone">T&eacute;l&eacute;phone :</label>
        <br><input [(ngModel)]="client.telephone" id="telephone"><br>

        <h3> Cr&eacute;er votre login et le mot de passe</h3>
        <div class="panel-body">
           
            <div class="col-sm-12">
                <label for="login">Login ou pseudo :</label>
                <br><input  [(ngModel)]="login.login"  id="login"><br>
        
                <label for="motDePasse">Mot De Passe :</label>
                <br><input  [(ngModel)]="login.motDePasse"  type="password" id="motDePasse"><br>

                <h3> Renseigner votre adresse </h3>
                <div class="panel-body">
                   
                    <div class="col-sm-12">
                        <label for="rue">Num&eacute;ro et rue :</label>
                        <br><input  [(ngModel)]="adresse.rue"  id="adresse"><br>
                
                        <label for="codePostal">Code postal :</label>
                        <br><input  [(ngModel)]="adresse.codePostal"   id="codePostal"><br>

                        <label for="ville">Ville :</label>
                        <br><input  [(ngModel)]="adresse.ville"   id="ville"><br>

                <div class="form-group col-sm-12">
                  <button type="button"  (click)="createcompte($event)" class="btn-success">Valider</button>
                </div>
              </div>
        </div>     
</div>
